/*img {
    width: 32%;
  }*/

  

#image1 {
    background-color: blue; /*filler to distinguish between areas*/
}
#image2 {
    background-color: yellowgreen;/*filler to distinguish between areas*/
}
#image3 {
    background-color: aqua;/*filler to distinguish between areas*/
}



section.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    max-width: 75rem;
  }



/* LinkedIn button
.btn-linkedin {
    background: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
  }
  .btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
  }
  .btn-linkedin:active, .btn-linkedin:hover {
    background: #084461;
    color: #fff;
  }*/

  #about, #projects, #skills {
    background-color: #A0C4CB;
  }


  /********************************************************************************************
   *************************************** Side Bar  ******************************************
   ********************************************************************************************/

/* The sidebar menu; assist: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sidenav {
    height: 100%;  /*Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #750228; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #C9AE62;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /********************************************************************************************
   *************************************** Social Icons  **************************************
   ********************************************************************************************/

  .social-icons a {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    /*background-color: #495057;*/
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-top: .25 rem;
  }

/*
.fa-facebook-f {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/600px-Facebook_logo_%28square%29.png");
}*/

  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons a:hover {
    background-color: #BD5D38;
  }
